    * {
    font-family: 'Rubik', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: content-box;
}

body {
    background-color: black;
}

nav {
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
}

/* Logo de pagina */
.nav-div-logo {
    border-radius: 5px;
    margin-top: 5px;
    margin-left: 25px;
    width: 30%;
}

/* Contenedor logo de pagina */
.nav-div-logo img {
    width: 240px;
    padding: 5px;
    background-color: whitesmoke;
    border-radius: 5px;
}

/* Contenedores botones de navegador */
.nav-div-btn, .nav-div-logout {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 40%;
}

.nav-div-logout {
    width: 30%;
}

/* Mensaje nombre de usuario */
.nav-div-logout p {
    font-size: 25px;
    color: whitesmoke;
    font-weight: bold;
    margin: 0 20px;
}

/* botones de navegador */
.nav-div-btn a, .nav-div-logout a {
    font-size: 25px;
    font-weight: bold;
    text-decoration: none;
    margin: 0 10px;
    padding: 10px;
    color: black;
    background-color: whitesmoke;
    border: 2px solid black;
    border-radius: 5px;
}

.nav-div-btn a:hover, .nav-div-logout a:hover {
    color: whitesmoke;
    background-color: black;
    border: 2px solid whitesmoke;
}

/* Mitad de pagina */
section {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    margin-top: 50px;
}

/* Titulo de tabla */
.list-title {
    font-size: 50px;
    text-align: center;
    text-decoration: underline;
    margin-bottom: 20px;
    color: whitesmoke;
}

/* Formulario de filtro */
#form-filter {
    width: 45%;
    display: flex;
    justify-content: flex-end;
}

/* Texto filtro */
#form-filter label {
    font-size: 18px;
    color: whitesmoke;
}

/* Select filtro */
#form-filter select {
    height: 20px;
    padding: 2px 5px;
    margin-left: 10px;
}

/* Boton filtro */
#form-filter button {
    font-size: 15px;
    height: 20px;
    margin-left: 10px;
    padding: 2px 5px;
    color: black;
    background-color: whitesmoke;
    border: 1px solid whitesmoke;
}

#form-filter button:hover {
    color: whitesmoke;
    background-color: black;
    border: 1px solid whitesmoke;
}

/* Tabla */
table {
    font-size: 20px;
    text-align: center;
    text-transform: capitalize;
    margin-top: 10px;
    margin-bottom: 20px;
    padding: 20px;
    background-color: whitesmoke;
    border: 2px solid black;
    border-radius: 5px;
}

table thead tr {
    color: whitesmoke;
    background-color: black;
}

table thead tr th, table tbody tr td {
    width: 200px;
    height: 50px;
    border: 2px solid black;
}

/* Primera columna de tabla */
/* Primera celda de cada fila de la primera columna */
table tbody tr td:first-child {
    position: relative;
    float: left;
    overflow: hidden;
    line-height: 50px;
}

/* Elemento a de primera celda de cada fila */
table tbody tr td:first-child a {
    text-decoration: none;
    position: absolute;
    width: 100%;
    height: 100%;
    line-height: 50px;
    top: 0;
    left: 0;
    color: black;
}

table tbody tr td a:hover {
    color: whitesmoke;
    background-color: black;
}

/* Botones de celdas de ultima columna */
table tbody tr td:last-child a {
    text-decoration: none;
    margin: 0 3px;
    padding: 3px;
    color: black;
    background-color: whitesmoke;
    border: 1px solid black;
    border-radius: 5px;
}

table tbody tr td:last-child a:hover {
    color: whitesmoke;
    background-color: black;
    border: 1px solid whitesmoke;
}

/* Mensaje de alerta / error al borrar marca */
.deleteMark-alert {
    text-align: center;
    font-size: 25px;
    color: rgb(255, 187, 0);
    margin-bottom: 15px;
}

/* Boton de agregar nuevo auto/marca */
.btn-new {
    font-size: 25px;
    font-weight: bold;
    text-align: center;
    text-decoration: none;
    width: 45%;
    height: 40px;
    line-height: 40px;
    margin-bottom: 20px;
    color: black;
    background-color: whitesmoke;
    border: 2px solid black;
}

.btn-new:hover {
    color: whitesmoke;
    background-color: black;
    border: 2px solid whitesmoke;
}

/* Formularios de administrador */
.cont-admin {
    display: flex;
    flex-direction: column;
    align-items: center;
    color: whitesmoke;
    width: 100vw;
    height: 60vh;
}

.cont-admin p {
    font-size: 45px;
    font-weight: bold;
    text-decoration: underline;
}

.cont-admin form .p-admin {
    font-size: 20px;
    text-decoration: none;
    margin: 0 20px;
}

.cont-admin form div:first-child {
   margin: 10px;
   display: flex;
}

.cont-admin form div:last-child {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
}

.cont-admin form div .div-admin-btn {
    flex-direction: row;
}

.cont-admin form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 30px;
    border: 2px solid whitesmoke;
    border-radius: 10px;
    min-width: 735px;
}

.cont-admin input, .cont-admin select {
    font-size: 15px;
    text-align: center;
    width: 180px;
    height: 30px;
    margin: 10px;
}

.cont-admin button, .cont-admin a {
    font-size: 15px;
    font-weight: bold;
    text-align: center;
    text-decoration: none;
    width: 100px;
    height: 30px;
    line-height: 30px;
    margin: 5px;
    padding: 2px 0;
    color: black;
    background-color: whitesmoke;
    border: 2px solid black;
}

.cont-admin button:hover, .cont-admin a:hover {
    color: whitesmoke;
    background-color: black;
    border: 2px solid whitesmoke;
    cursor: pointer;
}

.cont-admin form div:last-child .admin-message {
    text-align: center;
    font-size: 20px;
    font-weight: bold;
    margin-top: 5px;
    margin-bottom: 10px;
    color: rgb(255, 187, 0);
    text-decoration: none;
}

/* Titulo de descripcion */
.desc-title {
    font-size: 70px;
    text-align: center;
    margin-top: 100px;
    margin-bottom: 50px;
    color: whitesmoke;
}

/* Lista de descripcion */
.desc-list ul li {
    font-size: 30px;
    text-align: center;
    margin-top: 5px;
    color: whitesmoke;
}

.desc-list span {
    margin-left: 20px;
}

/* Comentarios */
.container-comment {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: 75px;
    width: 100%;
}

.container-comment > div {
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 40%;
}

.title-comment {
    align-self: flex-start;
}

.title-comment p {
    font-size: 30px;
    font-weight: bold;
    margin-bottom: 20px;
    margin-left: 25px;
    color: whitesmoke;
}

.form-comments {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.form-comments-firstchild {
    display: flex;
}

.form-comments-firstchild textarea {
    font-size: 20px;
    width: 700px;
    height: 100px;
    resize: none;
    padding: 10px;
}

.form-comments-lastchild {
    width: 100%;
    display: flex;
    margin-top: 15px;
    justify-content: center;
    align-items: center;
}

.container-score {
    display: flex;
    align-items: center;
    width: 100%;
}

.container-score p {
    font-size: 25px;
    color: whitesmoke;
    margin-left: 20px;
}

.container-btn-addComment {
    justify-content: flex-end;
    align-items: center;
}

.container-btn-addComment button {
    font-size: 20px;
    font-weight: bold;
    padding: 5px;
    width: 100px;
    height: 25px;
    margin-right: 25px;
    background-color: whitesmoke;
}

.container-btn-addComment button:hover {
    color: whitesmoke;
    background-color: black;
    border: 2px solid whitesmoke;
    font-weight: bold;
}

/* Mensaje de alerta al agregar comentario */
#message-comment {
    font-size: 25px;
    font-weight: bold;
    margin: 20px 0;
    color: rgb(255, 187, 0);
}

/* Comentarios agregados */
.box-comment {
    font-size: 20px;
    width: 700px;  
    height: 100px;
    padding: 10px;
    margin-bottom: 20px;
    color: whitesmoke;
    background-color: rgb(20, 20, 20);
    border-radius: 3px;
}

.box-comment div:first-child {
    display: flex;
    justify-content: space-between;
}

.box-comment div:last-child {
    font-size: 18px;
}

.comment {
    margin-top: 15px;
    margin-left: 15px;
}

.box-btnDelete-score {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 310px;
}

.box-btnDelete-score button {
    width: 50px;
}

.box-btnDelete-score button:hover {
    color: whitesmoke;
    background-color: rgb(20, 20, 20);
    border: 1px solid whitesmoke;
}

/* Puntaje */
.form-puntuacion {
    width: 250px;
    margin: 0 auto;
    height: 50px;
}

.form-puntuacion p {
    text-align: center;
}

.form-puntuacion label {
    font-size: 20px;
}

input[type="radio"] {
    display: none;
}

label {
    color: grey;
}

.clasificacion {
    margin-left: 15px;
    direction: rtl;
    unicode-bidi: bidi-override;
}

.clasificacion label:hover,
.clasificacion label:hover ~ label {
    color: orange;
}

input[type="radio"]:checked ~ label {
    color: orange;
}

/* Puntaje en comentario */
.comment-score > div {
    display: flex;
}

.comment-score-stars {
    color: grey;
}

.checked {
    color: orange;
}

/* Contenedor de link 'volver' */
.div-link {
    display: flex;
    justify-content: center;
    margin-top: 30px;
}

/* link 'volver' */
.div-link a {
    font-weight: bold;
    text-decoration: none;
    padding: 5px;
    color: black;
    background-color: whitesmoke;
    border: 1px solid black;
}

.div-link a:hover {
    color: whitesmoke;
    background-color: black;
    border: 1px solid whitesmoke;
}

/* Form de Registro y de inicio de sesion*/
.div-form-register {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
}

.form-register {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    max-width: 460px;
    height: 400px;
    border: 2px solid whitesmoke;
}

/* Titulos de registro y de inicio de sesion */
.form-register p:first-child {
    font-size: 40px;
    font-weight: bold;
    text-align: center;
    width: 300px;
    margin: 0 80px 30px 80px;
    color: whitesmoke;
}

/* Inputs user y pass */
.form-register input {
    font-size: 20px;
    text-align: center;
    width: 300px;
    height: 40px;
    margin: 10px 0;
    color: whitesmoke;
    background-color: transparent;
    border: 2px solid whitesmoke;
    border-radius: 8px;
    transition: 0.25s;
}

.form-register input:focus {
    width: 380px;
}

.form-register button {
    width: 100px;
    margin: 15px 150px;
    height: 20px;
    color: black;
    background-color: whitesmoke;
    border: 2px solid black;
}

.form-register button:hover {
    color: whitesmoke;
    background-color: black;
    border: 2px solid whitesmoke;
}

/* Mensaje con links e invitado */
.register-message,
.register-message a {
    color: whitesmoke;
}

/* Mensaje de aviso cuenta creada, incorrecto, etc. */
.register-alert {
    font-size: 20px;
    font-weight: bold;
    text-transform: uppercase;
    margin-top: 20px;
    color: rgb(255, 187, 0);
}